## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/19164/Desktop/Data Analytics/Class Modules + Challenges/Unit 6 APIs/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,31.66,80,75,21.85,light snow
1,1,Cherskiy,RU,68.7500,161.3000,47.28,45,99,11.86,overcast clouds
2,2,Atherton,GB,53.5237,-2.4935,62.74,88,99,3.20,overcast clouds
3,3,Buta,CD,2.7858,24.7300,70.27,99,100,1.50,light rain
4,4,Cape Town,ZA,-33.9258,18.4232,57.38,81,0,3.00,clear sky

In [9]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 50
What is your desired maximum temperature for your trip? 95

In [10]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Atherton,GB,53.5237,-2.4935,62.74,88,99,3.20,overcast clouds
3,3,Buta,CD,2.7858,24.7300,70.27,99,100,1.50,light rain
4,4,Cape Town,ZA,-33.9258,18.4232,57.38,81,0,3.00,clear sky
6,6,Zverinogolovskoye,RU,54.4586,64.8542,54.81,92,0,7.47,clear sky
7,7,Odweyne,SO,9.4092,45.0640,70.21,48,34,14.29,scattered clouds
8,8,Barcelos,PT,41.5388,-8.6151,68.92,90,67,1.79,broken clouds
9,9,Ribeira Grande,PT,38.5167,-28.7000,73.45,86,52,2.01,broken clouds
10,10,Bambous Virieux,MU,-20.3428,57.7575,69.22,88,40,12.66,scattered clouds
12,12,Airai,TL,-8.9266,125.4092,57.38,85,98,3.78,overcast clouds
13,13,Navirai,BR,-23.0650,-54.1906,71.49,38,19,4.79,few clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                7
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Atherton,GB,53.5237,-2.4935,62.74,88,99,3.20,overcast clouds
3,3,Buta,CD,2.7858,24.7300,70.27,99,100,1.50,light rain
4,4,Cape Town,ZA,-33.9258,18.4232,57.38,81,0,3.00,clear sky
6,6,Zverinogolovskoye,RU,54.4586,64.8542,54.81,92,0,7.47,clear sky
7,7,Odweyne,SO,9.4092,45.0640,70.21,48,34,14.29,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
681,681,Kjopsvik,NO,68.0970,16.3742,54.18,92,100,1.45,overcast clouds
682,682,Izhma,RU,65.0083,53.9113,53.69,65,70,5.61,broken clouds
683,683,Maanshan,CN,31.6957,118.4983,81.82,82,20,2.66,few clouds
684,684,Vodnyy,RU,63.5046,53.4095,60.57,72,75,4.32,broken clouds
685,685,Tahta,EG,26.7693,31.5021,84.83,27,0,13.13,clear sky

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atherton,GB,62.74,overcast clouds,53.5237,-2.4935,
3,Buta,CD,70.27,light rain,2.7858,24.7300,
4,Cape Town,ZA,57.38,clear sky,-33.9258,18.4232,
6,Zverinogolovskoye,RU,54.81,clear sky,54.4586,64.8542,
7,Odweyne,SO,70.21,scattered clouds,9.4092,45.0640,
8,Barcelos,PT,68.92,broken clouds,41.5388,-8.6151,
9,Ribeira Grande,PT,73.45,broken clouds,38.5167,-28.7000,
10,Bambous Virieux,MU,69.22,scattered clouds,-20.3428,57.7575,
12,Airai,TL,57.38,overcast clouds,-8.9266,125.4092,
13,Navirai,BR,71.49,few clouds,-23.0650,-54.1906,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Atherton,GB,62.74,overcast clouds,53.5237,-2.4935,The Mercury Motel
3,Buta,CD,70.27,light rain,2.7858,24.7300,Hôtel BOPANDO
4,Cape Town,ZA,57.38,clear sky,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
7,Odweyne,SO,70.21,scattered clouds,9.4092,45.0640,Eng Hiirey House
8,Barcelos,PT,68.92,broken clouds,41.5388,-8.6151,Hotel Restaurante Bagoeira

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))